<div class="list-group">
    <a href="/about" class="list-group-item{{#equal active 'about'}} active{{/equal}}">关于本站</a>
    <a href="/contact" class="list-group-item{{#equal active 'contact'}} active{{/equal}}">联系我们</a>
    <a href="/links" class="list-group-item{{#equal active 'links'}} active{{/equal}}">友情链接</a>
    <a href="/help" class="list-group-item{{#equal active 'help'}} active{{/equal}}">帮助中心</a>
</div>