<div class="footer">
    <div class="container">
        <div class="copyright">&copy; 2015 查查啦</div>
        <ul class="site-info">
            <li><a href="/about">关于本站</a></li>
            <li><a href="/contact">联系我们</a></li>
            <li><a href="/links">友情链接</a></li>
            <li><a href="/help">帮助中心</a></li>
            <li><a class="miibeian" href="http://www.miibeian.gov.cn/" target="_blank">浙ICP备08017086号-14</a></li>
        </ul>
    </div>
</div>
<!--[if lt IE 8]>
<link rel="stylesheet" href="/stylesheets/anti-ie.css">
<script src="/javascripts/anti-ie.js"></script>
<![endif]-->
<span style="display: none;">
    <script>var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1254436567'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/stat.php%3Fid%3D1254436567' type='text/javascript'%3E%3C/script%3E"));</script>
</span>
</body>
</html>