<div class="footer">
    <div class="container">
        <div class="copyright">&copy; 2015 查查啦</div>
        <ul class="site-info">
            <li><a href="/about">关于本站</a></li>
            <li><a href="/contact">联系我们</a></li>
            <li><a href="/links">友情链接</a></li>
            <li><a href="/help">帮助中心</a></li>
            <li><a class="miibeian" href="http://www.miibeian.gov.cn/" target="_blank">浙ICP备08017086号-14</a></li>
        </ul>
    </div>
</div>
</body>
</html>