<div class="sidebar" style="padding-top: 46px;">
    <script type="text/javascript">
        /*查查啦侧边栏*/
        var cpro_id = "u1983701";
    </script>
    <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
</div>