<div class="sidebar">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 250x250, 创建于 11-7-29 -->
    <ins class="adsbygoogle"
            style="display:inline-block;width:250px;height:250px"
            data-ad-client="ca-pub-9763316970959340"
            data-ad-slot="4165466641"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>