<div class="toolbar">
    <div class="container">
        <ul class="tool-nav">
            <li{{#equal active 'indexed'}} class="active"{{/equal}}>
                <a href="/indexed{{#q}}/{{.}}{{/q}}">收录查询</a>
            </li>
            <li{{#equal active 'ip'}} class="active"{{/equal}}>
                <a href="/ip{{#q}}/{{.}}{{/q}}">IP</a>
            </li>
            <li{{#equal active 'pr'}} class="active"{{/equal}}>
                <a href="/pr{{#q}}/{{.}}{{/q}}">PR</a>
            </li>
            <li{{#equal active 'whois'}} class="active"{{/equal}}>
                <a href="/whois{{#q}}/{{.}}{{/q}}">WHOIS</a>
            </li>
        </ul>
        <div class="tool-more">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                更多<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="javascript:;">没了</a></li>
            </ul>
        </div>
    </div>
</div>