<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8"><![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--><html><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>查查啦</title>
    <link href="/stylesheets/global.css" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/javascripts/respond.js"></script>
    <![endif]-->
</head>
<body>
<div class="site-nav">
    <div class="container">
        <a class="welcome" href="/">查查啦，万能的站长工具</a>
        <ul class="quick-menu clearfix">
            <li><a href="/">工具大全</a></li>
            <li><a href="/">网站排名</a></li>
            <li><a href="/">手机访问</a></li>
            <li><a href="/">帮助中心</a></li>
        </ul>
    </div>
</div>
<div class="header">
    <div class="container">
        <a href="/" class="logo" title="万能的站长工具">
            <img src="/images/logo.png" width="94" height="32" alt="查查啦">
        </a>
        <form class="searchform" action="/" method="get" autocomplete="off">
            <div class="s">
                <label for="s" class="hidden">请输入域名、网址或关键字</label>
                <input type="search" id="s" name="s" maxlength="100" tabindex="1">
            </div>
            <div class="searchsubmit">
                <button type="submit" class="glyphicon glyphicon-search"></button>
            </div>
        </form>
        <div id="user-info" class="logged-in">
            <a href="/~tinyhill"></a>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        {{{content}}}
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="copyright">&copy; 2015 查查啦</div>
        <ul class="site-info">
            <li><a href="/">关于本站</a></li>
            <li><a href="/">联系我们</a></li>
            <li><a href="/">广告投放</a></li>
            <li><a href="/">合作伙伴</a></li>
            <li><a href="/">帮助中心</a></li>
            <li><a href="/">建议反馈</a></li>
            <li><a class="miibeian" href="http://www.miibeian.gov.cn/" target="_blank">浙ICP备08017086号-14</a></li>
        </ul>
    </div>
</div>
<script src="/javascripts/global.js"></script>
</body>
</html>