//
// Toolbar
// --------------------------------------------------

.toolbar {
  border-bottom: 1px solid #EBEBEB;
  height: 44px;
  line-height: 44px;
  a {
    color: #666;
    display: inline-block;
    text-decoration: none;
    &:hover {
      color: #009A61;
    }
  }
  .tool-nav {
    float: left;
    margin-bottom: 0;
    padding-left: 0;
    > li {
      float: left;
      list-style: none;
      margin-right: 20px;
    }
    .active {
      border-bottom: 2px solid #009A61;
      font-weight: bold;
      height: 44px;
      a {
        color: #009A61;
      }
    }
    .more {
      float: left;
      height: 44px;
      position: relative;
      .dropdown-menu {
        min-width: 100px;
        top: 35px;
        a {
          color: #666;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .toolbar {
    position: relative;
    .container {
      overflow-x: scroll;
      overflow-y: hidden;
      .tool-nav {
        width: 414px;
        .more {
          position: inherit;
          .dropdown-menu {
            left: auto;
            right: 15px;
          }
        }
      }
    }
  }
}