<div class="whois-group">
    <h2 class="whois-label">
        <span>域名 WHOIS 查询</span>
    </h2>
    <div class="whois-result">
        {{result}}
    </div>
</div>
<script type="text/template" id="template-loading">
    <img src="/images/loading.gif" width="16" height="16" alt="">
</script>
<script type="text/template" id="template-retry">
    查询失败，<a href="javascript:;" class="retry">点此重试</a>
</script>
{{#q}}
    <script>
        (function () {

            var result = $('.whois-result');

            function request() {
                $.ajax({
                    url: '/api/whois/{{.}}',
                    beforeSend: function () {
                        result.html($('#template-loading').html());
                    },
                    success: function (res) {
                        switch (res.status) {
                            case 'success':
                                result.html(res.data);
                                break;
                            default:
                                result.html($('#template-retry').html());
                        }
                    },
                    dataType: 'json'
                });
            }

            result.delegate('.retry', 'click', request);

            request();

        })();
    </script>
{{/q}}