<div class="main ip">
    <div class="hd">
        <dl class="related clearfix">
            <dt>相关查询：</dt>
            <dd><a href="/ip/server{{#if q}}/{{q}}{{/if}}">同机房网站</a></dd>
        </dl>
    </div>
    <div class="bd">
        <div class="panel panel-default">
            <div class="panel-heading">查询结果</div>
            <div class="panel-body">
                <div class="body" id="body">
                    {{body}}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">查询说明</div>
            <div class="panel-body">
                IP 查询工具，可以查询指定域名或 IP 地址所在国家、城市和线路等信息。
            </div>
        </div>
    </div>
</div>
{{#if q}}
    <script>
        var body = $('#body');

        function request() {
            $.ajax({
                url: '/api/ip/{{q}}',
                beforeSend: function () {
                    body.html('<span class="loading"></span>');
                },
                success: function (data) {
                    if (data.status === 'success') {
                        body.html('{{^isip}}域名&nbsp;&nbsp;<b>{{q}}</b>，{{/isip}}IP 地址&nbsp;&nbsp;<b>' + data.data.ip + '</b>&nbsp;&nbsp;位于&nbsp;&nbsp;' + '<b>' + data.data.Country + data.data.Area + '</b>');
                    } else {
                        body.html('查询失败，<a href="javascript:;" id="retry">点此重试</a>');
                    }
                },
                error: function () {
                    body.html('服务器繁忙，请稍候重试');
                },
                dataType: 'json'
            });
        }

        body.delegate('#retry', 'click', request);

        request();
    </script>
{{/if}}